body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 10%;
    font-family: Arial, sans-serif;
}

h3 {
    color: rebeccapurple;
    text-align: center;
    margin-top: 5%;
    font-family: Arial, Calibri, serif;
}

p {
    text-align: center;
}